{{#paginated-array content=content pageBinding="page"}}
  <div class="todo">
    <span>{{name}}</span>
    <span>
      {{input type="checkbox" checked=completed}}
    </span>
  </div>
{{/paginated-array}}

<button {{action "save"}}>Save</button>

{{outlet}}